extends layout

block content
  ul.messages 
    each message in messageList 
      li.message 
        h2 #{message.title}
        p #{message.content}
        if message.author 
          span #{message.author.name}
        if message.timestamp 
          span #{message.time}
