doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      a#home-link(href='/') Members Only 
      .links 
        each link in links
          a(href=link.href) #{link.name}
    main
      block content
