@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Kalam:wght@300;400;700&family=Patrick+Hand&display=swap');

:root {
	--columbia-blue: #d0f1ff;
	--orange-crayola: #ff6b35;
	--peach-crayola: #f7c59f;
	--usafa-blue: #004e89;
	--sapphire-blue: #1a659e;
	--red: #e93d3d;
	--grey: #c7c7c7;
	--white: #ffffff;
	--white-translucid: #ffffff94;
	--patrick-hand-font: 'Patrick Hand', cursive;
	--exo-font: 'Exo', sans-serif;
	--kalam-font: 'Kalam', cursive;
	padding: 0;
}

body {
	padding: 0;
	background-color: var(--columbia-blue);
}

a {
	font-family: var(--exo-font);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--usafa-blue);
	padding: 15px;
	border-bottom: 3px dashed var(--peach-crayola);
}

header a {
	color: var(--peach-crayola);
	text-decoration: none;
}

header #home-link {
	font-family: var(--patrick-hand-font);
	color: var(--peach-crayola);
	font-size: 1.8rem;
	text-decoration: none;
}

header .links {
	display: flex;
	gap: 10px;
}

header .links a:hover {
	text-decoration: underline;
}

main {
	padding: 30px clamp(5vw, 200px, 15vw);
}

h1 {
	font-family: var(--exo-font);
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--sapphire-blue);
	text-align: center;
}

form:not(.delete-form) {
	margin: 25px 0;
}

label {
	font-family: var(--exo-font);
	font-size: 1rem;
	font-weight: 500;
}

label {
	margin-right: 10px;
}

.form-group {
	margin: 5px 0;
}

.form-group:not(.avatar-form-group) {
	display: flex;
	align-items: center;
}

input:not([type='hidden']),
textarea {
	border-radius: 5px;
	font-size: 1rem;
	border: 2px solid var(--grey);
	padding: 1px 4px;
}

.image-display {
	display: flex;
	flex-flow: row wrap;
	gap: 15px;
	justify-content: center;
	margin: 15px 0;
}

.image-display img {
	width: 128px;
	cursor: pointer;
	padding: 30px;
	border-radius: 5px;
	border: 7px solid var(--grey);
}

.image-display img.selected {
	background-color: var(--sapphire-blue);
	border-color: var(--usafa-blue);
}

form .form-end {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin: 30px 0;
}

form .form-end button {
	cursor: pointer;
	padding: 5px 20px;
	text-transform: uppercase;
	background-color: var(--sapphire-blue);
	color: var(--columbia-blue);
	font-family: var(--exo-font);
	font-size: 1rem;
	border-radius: 5px;
	border: 2px solid var(--grey);
}

form .form-end button:hover {
	background-color: var(--usafa-blue);
}

form .form-end a {
	text-decoration: none;
	font-size: 0.9rem;
}

form .form-end a:hover {
	text-decoration: underline;
}

.message-card {
	position: relative;
	background-color: var(--white-translucid);
	border-radius: 10px;
	padding: 35px;
	border: 5px solid var(--white);
	font-family: var(--kalam-font);
	display: grid;
	grid-template-rows: 9fr 1fr;
	grid-template-columns: clamp(5vw, 128px, 15vw) calc(
			100% - clamp(5vw, 128px, 15vw) - 70px - 10px
		);
	column-gap: 60px;
	row-gap: 30px;
	margin-bottom: 20px;
}

.message-card h2 {
	font-family: var(--kalam-font);
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 20px;
}

.message-card img {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	width: clamp(5vw, 128px, 15vw);
}

.message-details {
	font-family: var(--exo-font);
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	color: var(--orange-crayola);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.message-card .delete-form {
	position: absolute;
	top: 20px;
	right: 20px;
}

.message-card .delete-button {
	cursor: pointer;
	background-color: transparent;
	color: var(--grey);
	width: 24px;
	height: 24px;
	border: none;
	padding: 0;
}

.message-card .delete-button:hover {
	color: var(--red);
}

.error-list {
	font-family: var(--exo-font);
	color: var(--red);
	margin: 15px 0;
}

.new-message-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 20px;
}

.new-message-a {
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	color: var(--orange-crayola);
}

.new-message-a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	.message-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 25px;
	}

	.message-details {
		font-size: 0.8rem;
		gap: 10px;
	}
}
